extends ./layouts/common

block content
  h3(class="m-5") Hello #{name}. This is my very firt awesome site with Express!
  div
    a(href="./users" class="m-5") Users list
  img(src="images/thinhpham.jpg" alt="Thinh Pham")
